*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #415FCE;
    height: 139px;
    padding: 0 60px;
}

.camisaIN {
    width: 110px;
    height: 99px;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: Inter;
    font-weight: 400;
    font-size: 64px;
}

header div {
    width: 315px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    gap: 21px;
    background: #1F9B5F;
}

header div img {
    width: 40px;
    height: 40px;
}

header div p {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
}

/* ------------------------------------MAIN---------------------------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main button {
    width: 1310px;
    height: 100px;
    border-radius: 8px;
    border: none;
    background: #1F9B5F;
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin: 64px 0 64px 0;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1310px;
    height: 2641px;
    gap: 24px;
}

.carta .fundo {
    width: 408px;
    height: 588px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('./assets/pessoa.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

.imagenscarta {
    width: 142px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

.imagenscarta .deletar {
    width: 64px;
    height: 64px;
    border-radius: 1000px;
    background: #FA0606;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenscarta .editar {
    width: 64px;
    height: 64px;
    border-radius: 1000px;
    background: #243B98;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nota {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 119px;
    height: 48px;
    gap: 11px;
    padding: 16px;
}

.nota p {
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 5%;
    color: #000000;
}

.nota img {
    width: 48px;
    height: 48px;
    border-radius: 2px;
}

.botoespaginacao{
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 40px;
    background-color: red;
}

/* -----------------------------------FOOTER--------------------------------- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 210px;
    background: #FCF7F8;
    gap: 20px;
}


.infos {
    display: flex;
    align-items: center;
    width: 1301px;
    height: 128px;
    justify-content: space-between;
}

.endereco {
    width: 302px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

footer h3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 4%;
    color: #4E8098;
}

footer p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 5%;
    color: #274553;
}

.faleconosco {
    width: 302px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.imagensfooter {
    width: 106px;
    height: 30px;
}

.rodape {
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #415FCE;
}

.rodape p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 5%;
    color: black;
}